
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
env/

.env
*.env
server/.env

server/uploaded_docs/*
!server/uploaded_docs/.gitkeep
uploaded_docs/*
!uploaded_docs/.gitkeep


.vscode/
.idea/

.DS_Store
Thumbs.db
